*.csproj
*.sln
.vs
*.zip
Library/
Builds/
obj/
Temp/
mm/
Logs/
rlcmatch_*/
*.log
*.unitypackage
*.unitypackage.meta
VMeet/uDesktopDuplication.log
LocalWorkbench/
LocalWorkbench.meta
fordi.lms.*/
LFS/
LFS.meta
*.log